---
import Layout from '../layouts/Layout.astro';
import Images from "../components/images.jsx";
import RemoteImages from "../components/remoteImages.jsx";
---

<Layout title="My Travel Pictures">
	<main>
		<div>
			<div class="p-2 bg-green-700 h-48 text-4xl text-white flex justify-center items-center">
				<h1 class="">My Travel Pictures</h1>
			</div>
		</div>
		<RemoteImages/>
		<!-- <Images /> -->
	</main>
</Layout>